@import '_header'
addonform
	img
		width 175px
	.--cont
		margin-right 300px
	.images.-section
		float right
	.-field
		label
			width 142px
	.variants.-section
		li
			position relative
			.buttons.-group
				buttons-group()
