@import '_header'
anomalytriggers
	form
		position relative
		&:after
			content ''
			display block
			clear both
	.-field
		label
			width 200px
	.order-matching.-section
		float left
	.--cont
		float left
		width 600px
	.buttons.-group
		buttons-group();
