@import '_header'
fulfillmentcapacity
	.time-slots.-items
		margin-bottom 25px
		li
			display flex
			position relative
			.-section
				margin-top 0
			.-section + .-section
				margin-left 90px
			.days.-section
				.-field
					margin 0
			.buttons.-group
				buttons-group()
