<form ng-submit="$ctrl.save(); false">
	<div class="-field icon">
		<label>Icon</label>
		<img src="{{$ctrl.portion.icon | image}}">
		<input class="-input" type="file" upload="$ctrl.portion.icon = name" upload-type="svg">
	</div>
	<div class="-field">
		<label>Name</label>
		<input class="-input" type="text" ng-model="$ctrl.portion.name" required>
	</div>
	<div class="-field">
		<label>Description</label>
		<textarea class="-input" ng-model="$ctrl.portion.description" required></textarea>
	</div>
	<button class="-button save">Save</button>
</form>
