<div class="--top">
	<button class="-button delete" ng-click="$ctrl.delete()">Delete</button>
	<a class="-button add" href="/products/meal-plans/add">Add</a>
</div>
<table class="-entry-list">
	<tr>
		<th><input ng-model="$ctrl.allSelected" type="checkbox"></th>
		<th>Icon</th>
		<th>Name</th>
		<th>Description</th>
		<th></th>
	</tr>
	<tr ng-repeat="mealPlan in $ctrl.mealPlans">
		<td class="select"><input ng-model="$ctrl.selected[mealPlan._id._str]" type="checkbox"></td>
		<td><img src="{{mealPlan.icon | image}}"></td>
		<td>{{mealPlan.name}}</td>
		<td>{{mealPlan.description}}</td>
		<td class="edit"><a class="edit" href="/products/meal-plans/{{mealPlan._id._str}}/edit">Edit</a></td>
	</tr>
</table>
