<div class="--top">
	<button class="-button delete" ng-click="$ctrl.delete()">Delete</button>
	<a class="-button add" href="/products/add-ons/add">Add</a>
</div>
<table class="-entry-list">
	<tr>
		<th><input ng-model="$ctrl.allSelected" type="checkbox"></th>
		<th>Icon</th>
		<th>Name</th>
		<th>SKU</th>
		<th>Variant Type</th>
		<th>Variants</th>
		<th>Price</th>
		<th>Description</th>
		<th>Specifications</th>
		<th></th>
	</tr>
	<tr ng-repeat="addOn in $ctrl.addOns">
		<td class="select"><input ng-model="$ctrl.selected[addOn._id._str]" type="checkbox"></td>
		<td><img src="{{addOn.images[0]}}"></td>
		<td>{{addOn.name}}</td>
		<td>{{addOn.sku}}</td>
		<td>{{addOn.variantType}}</td>
		<td>
			<ul>
				<li ng-repeat="variant in addOn.variants">{{variant}}</li>
			</ul>
		</td>
		<td>{{addOn.price | currency}}</td>
		<td>{{addOn.description}}</td>
		<td>{{addOn.specifications}}</td>
		<td class="edit"><a class="edit" href="/products/add-ons/{{addOn._id._str}}/edit">Edit</a></td>
	</tr>
</table>
