<div class="-section delivery-fee">
	<h2>Delivery Fee</h2>
	$<input class="-input" type="text" ng-model="$ctrl.deliveryFee"> per delivery
	<div class="last-updated" ng-if="$ctrl.fulfillmentSettingsDoc.timestamps.deliveryFee">
		<label>Last Updated:</label>
		<span class="value">{{$ctrl.fulfillmentSettingsDoc.timestamps.deliveryFee | date:'d MMM yyyy h:mma'}}</span>
	</div>
	<div class="-group buttons">
		<button class="-button cancel" ng-click="$ctrl.deliveryFee_cancel()" ng-if="$ctrl.deliveryFee_hasChanges()">Cancel</button>
		<button class="-button save" ng-click="$ctrl.deliveryFee_save()" ng-if="$ctrl.deliveryFee_hasChanges()">Save</button>
	</div>
</div>
<div class="-section free-delivery">
	<h2>Free Delivery</h2>
	<p>Free delivery for orders containing</p>
	<p>Above <input class="-input" type="text" ng-model="$ctrl.freeDeliveryThreshold"> meals per order</p>
	<div class="last-updated" ng-if="$ctrl.fulfillmentSettingsDoc.timestamps.freeDeliveryThreshold">
		<label>Last Updated:</label>
		<span class="value">{{$ctrl.fulfillmentSettingsDoc.timestamps.freeDeliveryThreshold | date:'d MMM yyyy h:mma'}}</span>
	</div>
	<div class="-group buttons">
		<button class="-button save" ng-click="$ctrl.freeDeliveryThreshold_cancel()" ng-if="$ctrl.freeDeliveryThreshold_hasChanges()">Cancel</button>
		<button class="-button cancel" ng-click="$ctrl.freeDeliveryThreshold_save()" ng-if="$ctrl.freeDeliveryThreshold_hasChanges()">Save</button>
	</div>
</div>
<div class="-section location-surcharges">
	<h2>Location Surcharges</h2>
	<ul class="-items">
		<li ng-repeat="locationSurcharge in $ctrl.locationSurcharges | editGuard:$ctrl.editGuards:'locationSurcharges'">
			<h3>Delivery Location</h3>
			<p>Postal codes beginning with <input ng-model="locationSurcharge.postalPrefix" type="text"></p>
			<h3>Additional Delivery Surcharge</h3>
			<input class="-input" ng-model="locationSurcharge.surcharge" type="text">

			<div class="-group buttons">
				<button class="-button save" ng-click="$ctrl.save(locationSurcharge)" ng-if="$ctrl.hasChanges(locationSurcharge)">Save</button>
				<button class="-button cancel" ng-click="$ctrl.cancel(locationSurcharge)" ng-if="$ctrl.hasChanges(locationSurcharge)">Cancel</button>
				<button class="-button delete" ng-click="$ctrl.delete(locationSurcharge)">Delete</button>
			</div>
		</li>
		<li ng-if="$ctrl.newLocationSurcharge">
			<h3>Delivery Location</h3>
			<p>Postal codes beginning with <input ng-model="$ctrl.newLocationSurcharge.postalPrefix" type="text"></p>

			<h3>Additional Delivery Surcharge</h3>
			<input class="-input" ng-model="$ctrl.newLocationSurcharge.surcharge" type="text">

			<div class="-group buttons">
				<button class="-button save" ng-click="$ctrl.saveNewLocationSurcharge()">Save</button>
				<button class="-button cancel" ng-click="$ctrl.cancelNewLocationSurcharge()">Cancel</button>
			</div>
		</li>
	</ul>
	<button class="-button add" ng-click="$ctrl.addNewLocationSurcharge()">Add</button>
</div>